/* MY references to use in the project source */

:root {
  /* Colors */
  --primary-color: #3498db; /* Header, Footer, Section Titles */
  --accent-color: #f39c12; /* Section Title Border */
  --background-color: #f5f5dc; /* Body Background */
  --text-color: #333; /* Body Text */
  --white-color: #ffffff; /* Section Background, Text on Primary Color */

  /* Fonts */
  --font-primary: "Roboto", sans-serif; /* Body, Paragraphs */
  --font-secondary: "Merriweather", serif; /* Headings */

  /* Sizing */
  --border-radius: 8px; /* Section Corners */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Section Shadow */
  --padding: 1rem; /* General Padding */
  --max-width: 800px; /* Section Max Width */

  /* Miscellaneous */
  --border-width: 5px; /* Wireframe Image Border */
  --wireframe-border-radius: 9px; /* Wireframe Image Corners */
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 700;
}

p {
  font-family: var(--font-primary);
  font-weight: 400;
}

header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: var(--padding) 0;
  text-align: center;
  font-size: 1.8rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  max-width: var(--max-width);
  padding: var(--padding);
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

section h2 {
  color: var(--primary-color);
  border-bottom: var(--border-width) solid var(--accent-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

span {
  font-weight: bold;
}
.wireframe {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  padding: 20px;
  width: 700px;
  height: auto;
  display: block;
  margin-top: 2rem auto;
  border: var(--border-width) solid var(--primary-color);
  border-radius: var(--wireframe-border-radius);
}

footer {
  background-color: var(--primary-color);
  color: var(--white-color);
}
