@media screen and (min-width: 640px) {
  header {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    background-color: var(--primary-color);
  }

  header img {
    width: 120px;
  }

  .header_left h1 {
    position: relative;
    top: -1px;
    left: 20px;
    right: 200px;
  }

  .header_left p {
    position: relative;
    top: -12px;
    left: 17px;
  }
  .hero {
    padding: var(--spacing-large);
  }

  .navigation {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .navigation a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    width: 100%;
    padding: 1.5rem;
  }
  main {
    max-width: 1200px;
    margin: 50px 200px 50px 200px;
  }
  .navigation a.active {
    border-bottom: 10px solid white;
  }

  #menu {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .list section {
    flex-direction: row;
  }

  #cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  footer {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: var(--spacing-large);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-medium);
    text-align: center;
  }

  footer section {
    padding: var(--spacing-medium);
  }

  footer .social-media a img {
    width: 50px;
    height: 50px;
    transition: var(--transition);
    margin: 0 30px;
    cursor: pointer;
    color: var(--background-color);
  }

  footer .social-media a img:hover {
    transform: scale(1.1);
  }

  .events-weather {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    min-height: 12rem;
  }

  #business-sum {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #business-sum section {
    margin: 10px;
  }
}
